
.content-topMain{
    position: relative;
    width: 100%;
    height: 25vw;
    max-height: 321px;
    margin: 0 auto;
    background-color: pink;
    display: flex;
    margin-bottom: 30px;
    border-radius: 6px;
}
.content-topMain img{
    border-radius: 6px;
}
.listDes{
    font-size: 19px;
    font-weight: 700;
    color: #d0021b;
    margin-top: 10px;
    margin-bottom: 10px;


}